option_settings:
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckPath
    value: /health
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: MatchHTTPCode
    value: '200'
  - namespace: aws:elasticbeanstalk:environment
    option_name: ServiceRole
    value: arn:aws:iam::533267397749:role/aws-elasticbeanstalk-service-role
